# Default ignored files
/../../reconhecimento-de-imagens-para-controle-de-qualidade /.idea/shelf/
/../../reconhecimento-de-imagens-para-controle-de-qualidade /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../reconhecimento-de-imagens-para-controle-de-qualidade /.idea/httpRequests/
# Datasource local storage ignored files
/../../reconhecimento-de-imagens-para-controle-de-qualidade /.idea/dataSources/
/../../reconhecimento-de-imagens-para-controle-de-qualidade /.idea/dataSources.local.xml
